{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
  {% block head %}
  {% endblock %}
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css"
      href="{% static 'my_app/css/style.css' %}">
</head>

<body id="{% block page %}{% endblock %}">
  {% if messages %}
    {% for message in messages %}
      <p class="messages {{ message.tags }}">{{ message }}</p>
    {% endfor %}
  {% endif %}
  
  {% block content %}
  {% endblock %}
</body>

{% block footer %}
{% endblock %}
</html>

