<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>削除画面</title>
</head>

<body>
  <h1>{{ title }}</h1>
  <dl>
    <dt>{{ label.0 }}</dt>
    <dd>{{ member.id }}</dd>
    <dt>{{ label.1 }}</dt>
    <dd>{{ member.name }}</dd>
    <dt>{{ label.2 }}</dt>
    <dd>{{ member.age }}</dd>
  </dl>

  <form action="{% url 'my_app:delete' id %}" method="post">
    {% csrf_token %}
    <input type="submit" value="削除" id="deleteButton">
  </form>
  
  <script>
    let delBtn = document.getElementById('deleteButton')
    delBtn.addEventListener('click', function(event) {
      if (!confirm("本当に削除しますか？")) {
        event.preventDefault();
      }
    })
  </script>

</body>

