<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>タイトル</title>

  <style>
    th, td {
      border: 1px solid #000;
      padding: 3px 20px;
    }
    table {
      border-collapse: collapse;
    }
    thead {
      background-color: #1251fd;
      color : #FFF;
    }
    tbody tr:nth-child(odd) {
      background-color: #b6dbfc;
    }

    h1,
    form {
      display: inline-block;
    }

  </style>
    
</head>

<body>

  <header>
    <h1>indexページ</h1>
    
    <form action='{% url "my_app:logout" %}' method='post' name='logout'>
      {% csrf_token %}
      <a href="javascript:logout.submit()">Logout</a>
    </form>
  </header>

  <!-- 天気情報 -->
  <section>
    <p>{{ weather.date }}の天気：<img src="{{ weather.image }}" alt="{{ weather.telop }}"></p>
    <p>
      最高気温 {% if weather.min %}{{ weather.max }}{% else %} - {% endif %}
       / 
      最低気温 {% if weather.min %}{{ weather.min }}{% else %} - {% endif %}
    </p>
  </section>

  <!-- 検索フォーム -->
  <div>
    <form method="GET" action="{% url 'my_app:index' %}">
      <input type="text" name="q" value="{{ request.GET.q }}">

      並び:
      <select id="order" name="order">
        <option value="id" selected>IDの昇順</option>
        <option value="-id">IDの降順</option>
        <option value="name">名前の昇順</option>
        <option value="-name">名前の降順</option>
        <option value="age">年齢の昇順</option>
        <option value="-age">年齢の降順</option>
      </select>
      <button type="submit" value="search">検索</button>

    </form>
  </div>
   
  <br>

  <table>
    <thead>
      <tr>
      {% for col in header %}
        <th>{{ col }}</th>
      {% endfor %}
        <th>アクション</th>
      </tr>
    </thead>
    <tbody>
      {% for item in members %}
      <tr>
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.age }}</td>
        <td>
          <a href="{% url 'my_app:update' item.id %}">更新</a>
          <a href="{% url 'my_app:delete' item.id %}">削除</a> 
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <a href="/my_app/create">追加する</a>
</body>

<script>
  // URLから並び順を取得して選択
  const params = new URLSearchParams(window.location.search);
  const order = params.get("order");
  if (!order) order = 'id'
  document.getElementById("order").value = order;
</script>
