{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>更新画面</title>
    <link rel="stylesheet" type="text/css" href="{% static 'my_app/css/style.css' %}">
</head>

<body id="update">
  <h1>{{ title }}</h1>

  <form action="{% url 'my_app:update' id %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <p>
      <label>名前:</label>
      {{ form.name }}
      <div style="color: #FF0000;">{{ form.name.errors }}</div>
    </p>

    <p>
      <label>年齢:</label>
      {{ form.age }}
      <div style="color: #FF0000;">{{ form.age.errors }}</div>
    </p>
  
    <p>

      <label for="id_image">画像:</label>
      {% if member.image %}
        <p>
          <img src="{{ member.image.url }}"/>
        </p>
      {% endif %}
      {{ form.image }}
    </p>

    <p>
      <div style="color: #FF0000;">{{ form.image.errors }}</div>
    </p>

    <input type="submit" value="送信">
  </form>

</body>

